body{
    color: rgb(106, 78, 6);
    background-color: rgb(158, 198, 118);
}
h4{
    padding-left: 20%;
    color: crimson;
}
p{
    padding-left: 20%;
    color: black;
}
h1{
    color: blue;
}